---
import { Icon } from 'astro-icon/components';
import type { LicenseInfo } from '../../utils/getLicenses';

interface Props {
  lizenz: LicenseInfo;
}

const { lizenz } = Astro.props;
---

<article class="lizenz-eintrag">
  <div class="header">
    <h3 class="name">{lizenz.name}</h3>
    <span class="badge">{lizenz.licenseType}</span>
  </div>
  
  <div class="details">
    <p class="author">
        <span class="label">Von:</span> {lizenz.author}
    </p>
    <div class="license-info">
      {lizenz.licenseUrl && (
        <a href={lizenz.licenseUrl} target="_blank" rel="noopener noreferrer" class="license-link">
          Lizenztext
          <Icon name="mingcute:external-link-line" class="icon" />
        </a>
      )}
    </div>
  </div>
  
  {lizenz.description && <p class="description">{lizenz.description}</p>}
</article>

<style>
  .lizenz-eintrag {
    background-color: var(--hintergrund-hellgrau);
    border: 1px solid var(--border-farbe-hellgrau);
    padding: var(--abstand-m);
    border-radius: var(--radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--abstand-s);
    transition: var(--uebergang-standard);
  }

  .lizenz-eintrag:hover {
    border-color: var(--sekund채rfarbe);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--abstand-xs);
  }

  .name {
    margin: 0;
    font-size: var(--schriftgroesse-m);
    color: var(--textfarbe);
    font-weight: var(--schriftgewicht-semi-bold);
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: var(--abstand-xs);
  }

  .author {
    margin: 0;
    font-size: var(--schriftgroesse-s);
    color: var(--textfarbe);
  }

  .label {
    color: var(--sekund채rfarbe);
    font-size: var(--schriftgroesse-xs);
    margin-right: var(--abstand-xs);
  }

  .license-info {
    display: flex;
    align-items: center;
    gap: var(--abstand-m);
  }

  .badge {
    background-color: var(--hintergrundfarbe);
    border: 1px solid var(--border-farbe-hellgrau);
    padding: var(--abstand-xxs) var(--abstand-s);
    border-radius: var(--radius-s);
    font-size: var(--schriftgroesse-xs);
    font-weight: 500;
    color: var(--textfarbe);
    flex-shrink: 0; 
  }

  .license-link {
    display: inline-flex;
    align-items: center;
    gap: var(--abstand-xs);
    font-size: var(--schriftgroesse-s);
    color: var(--prim채rfarbe);
    text-decoration: none;
  }

  .license-link:hover {
    text-decoration: underline;
  }

  .icon {
    width: 1em;
    height: 1em;
  }

  .description {
    margin: var(--abstand-xs) 0 0 0;
    font-size: var(--schriftgroesse-s);
    color: var(--sekund채rfarbe);
    line-height: var(--linienhoehe-small);
  }
</style>
